h1, h2, span{
    font-family: 'Russo One', sans-serif;
    float: none;
    text-align: center;
    vertical-align: middle;
}

.game-area{
    text-align: center;
    position: relative;
    width: 80%;
    margin: 0px auto;
}

.game-area img{
    width: 50%;
    height: auto;
    
}

.score-area{
    position: relative;
    width: 90vw;
    height: 20vw;
    text-align: center;
}

.btn-invis{
    font-family: 'Russo One', sans-serif;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: none;
    opacity: 0;
}

.btn-invis:hover{
    opacity: 1;
    background: rgba(0,0,0,0);
}

.btn-scissors{
    position:absolute;
    top: 5%;
    left: 43%;
}

.btn-spock{
    position:absolute;
    top: 28%;
    left: 27%;
}

.btn-paper{
    position:absolute;
    top: 28%;
    right: 27%;
}

.btn-lizard{
    position:absolute;
    top: 66%;
    left: 33%;
}

.btn-rock{
    position:absolute;
    top: 66%;
    right: 33%;
}

.player-move{
    position:absolute;
    top: 5%;
    left: 10%;
}

.computer-move{
    position:absolute;
    top: 15%;
    right: 10%;
}
